.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  gap: 15px;
}

.card .image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgb(190, 190, 190);
  cursor: pointer;
}
.card .imageHovered {
  /* Define hover effect styles */
  transform: scale(1.15); /* Example: Scale the image by 10% on hover */
  opacity: 0.6;
}

.card .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.card .info h4 {
  margin: 0;
  font-size: 20px;
}

.card .info span {
  font-size: 16px;
}

.card input {
  outline: none;
  height: 30px;
  padding: 0 5px;
  border: 1px solid rgb(0, 86, 34);
}
.card button {
  cursor: pointer;
  background: rgb(150, 255, 152);
  border: none;
  outline: none;
  height: 40px;
  padding: 0 10px;
}
.card button:hover {
  background-color: rgb(73, 182, 147); /* Change the background color on hover */
}